

       <header id="home">

        <!-- Start Navigation -->
        <nav class="navbar navbar-default attr-border navbar-sticky bootsnav" style="background-color: #000;">

           <div class="container">

                <!-- Start Atribute Navigation -->
                <div class="attr-nav">
                    <ul>
                        <!-- <li class="search"><a href="index.html#"><i class="fa fa-search"></i></a></li> -->
                        <li class="side-menu">
                            <a routerLink=""><i class="fa fa-bars"></i></a></li>
                    </ul>
                </div>        
           
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand"routerLink="">
                        <img src="assets/img/logo.png" class="logo" alt="Logo">
                    </a>
                </div>
         
                <div class="collapse navbar-collapse" id="navbar-menu" style="background:#000;">
                    <ul class="nav navbar-nav navbar-right" data-in="#" data-out="#">
                     
                        <li >
                            <a routerLink="about" style="color: #fff;" >QUIENES SOMOS</a>
                           
                        </li>
                        <li >
                            <a routerLink="treks"  style="color: #fff;">DESTINOS</a>
                        </li>
                        <li >
                            <a routerLink="blog"  style="color: #fff;">BLOG</a>
                        </li>
                        <li>
                            <a routerLink="contact"  style="color: #fff;">CONTACTO</a>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>
    </header>
