
<main>
	<section class="section-image section-home-alpins light" style="background-image:url(assets/media/hd-13.jpg)">
        <div class="container">
            <hr class="space-lg" />
            <div class="row">
                <div class="col-lg-3">
                    <h1 class="text-lg text-uppercase text-black">Aventura turismo y viajes</h1>
                </div>
                <div class="col-lg-9">
                    <ul class="slider" data-options="type:slider,perView:1,arrows:true,nav:true,autoplay:3500" data-anima="fade-right" data-time="1000">
                        <li>
                            <a class="img-box btn-video lightbox" href="https://www.youtube.com/watch?v=Lb4IcGF5iTQ" data-lightbox-anima="fade-top">
                                <img src="assets/media/image-1.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a class="img-box lightbox" href="assets/media/image-4.jpg" data-lightbox-anima="fade-top">
                                <img src="assets/media/image-4.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a class="img-box lightbox" href="assets/media/image-8.jpg" data-lightbox-anima="fade-top">
                                <img src="assets/media/image-8.jpg" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr class="space-sm" />
        </div>
    </section>


<app-toptreks></app-toptreks>
</main>
<!-- <app-destinos></app-destinos> -->
<!-- <app-actividad></app-actividad> -->
<!-- <app-features></app-features> -->
<!-- <app-vitrina></app-vitrina> -->
<!-- <app-tours></app-tours> -->
